.heading__style{
    padding:20px;
    background-color:#fff;
    letter-spacing:1px;
    text-align:center;
}

.slot__inner{
    width:300px;
    height: auto;
    text-align:center;
    margin: 0 auto;
    margin-top: 5vh;
    padding:10px;
    border-radius:10px;
    border:1px solid #eee;
    background-color:#fff;
    cursor: pointer;
    
}
.slot__inner:hover{
    box-shadow: 10px 10px 10px 10px #cccccc,
    20px 20px 20px 20px #eee,
    30px 30px 30px 30px #dddddd
    ;
    transition: box-shadow 0.5s ease-in-out;
}